modem.img
system/system/apex/com.android.vndk.current.apex
system/system/euclid/my_heytap.img
system/system/euclid/my_product.img
system/system/euclid/my_region.img
system/system/euclid/my_stock.img
vendor/euclid/odm.img
